@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">InfoSharing</h1>
    <p>The exchange of information is the most important thing we need in the era of the information revolution and digital transformation, which moves us quickly and with steady steps towards an expanding world that has become, in light of technology, a small village that can roam through the world via the Internet in seconds .</p>

</div>
<div>
<img class="responsive" src="info.png"alt="slices">
</div>
